@value tblue #1d9bf0;

.form {
  margin: 0 30px;
}

.formTitle {
  font-size: 25px;
  font-weight: 700;
  height: 68px;
  line-height: 68px;
}

.input {
  composes: input from '../../common.module.scss';
}

.changeTypeButton {
  color: tblue;
  font-size: 15px;
}

.birthday {
  font-size: 15px;
  font-weight: 700;
  color: #000;
  margin-top: 25px;
}

.formContainer {
  :global(.adm-list-item) {
    background: none;
    padding: 0;
    line-height: 1;
  }
  :global(.adm-list-item-content) {
    border: none;
    padding: 0;
  }
  :global(.adm-list-body) {
    background: none;
    border: none;
  }
  :global(.adm-list-item-content-main) {
    padding-bottom: 0;
  }
}

.footer{
  position: fixed;
  text-align: center;
  bottom: 20px;
  width: 100%;
}

.footerButtonDisabled {
  margin: 0 auto;
  border-radius: 50px;
  background-color: #868a8c;
  color: white;
  font-size: 16px;
  width: 60%;
  height: 40px;
}

.footerButton {
  composes: footerButtonDisabled;
  background-color: #000;
}
