@import '../../common.module.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.95);
  height: 50px;
  text-align: center;
}

.closeIcon {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 18px;
}

.twitterLogo {
  height: 30px;
  margin-top: 10px;
}

.avatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 20px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  line-height: 50px;
  position: absolute;
  left: 60px;
}

.back {
  width: 20px;
  display: inline-block;
  vertical-align: middle;
  float: left;
  margin: 15px;
}
